/* chatbot */

.chatbot {
  position: fixed;
  right: 108px;
  bottom: 80px;
}

.chatbot--button button {
  display: flex;
  width: 108px;
  height: 108px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-style: none;
  background: linear-gradient(to right, #bbbcfc, #6f70b2);
  cursor: pointer;
  z-index: 1;
}

.chatbot__click {
  display: none;
}

.chatbot__click.active {
  display: block;
}

.chatbot__click-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chatbot__click-list--div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 60px;
  padding: 33px 0px;
  width: 251px;
  height: 92px;
  background-color: var(--white);
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
  border-radius: 86px;
}

.chatbot--image {
  margin-top: 10px;
}
