/* chatbot */

.chatbot {
  position: fixed;
  right: 108px;
  bottom: 80px;
}

.chatbot--button button {
  display: flex;
  width: 108px;
  height: 108px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-style: none;
  background: linear-gradient(to right, #bbbcfc, #6f70b2);
  cursor: pointer;
  z-index: 1;
}

.chatbot__click {
  display: none;
}

.chatbot__click.active {
  display: block;
}

.chatbot__click.active button {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
}

.chatbot__click-list {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 26px;
  height: 56px;
}

.chatbot__click-list--div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 60px;
  padding: 33px 0px;
  width: 251px;
  height: 92px;
  background-color: var(--white);
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
  border-radius: 86px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
}

.chatbot--image {
  margin-top: 10px;
}

/* 테블릿 세로, 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .chatbot {
    right: 40px;
    bottom: 80px;
  }
}

/* 모바일 가로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .chatbot {
    right: 40px;
    bottom: 80px;
  }

  .chatbot--button button {
    width: 86px;
    height: 86px;
  }

  .chatbot--image {
    width: 45.6px;
    height: 44.6px;
  }

  .chatbot__click-list--div {
    width: 220px;
    height: 80px;
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .chatbot {
    right: 30px;
    bottom: 60px;
  }

  .chatbot--button button {
    width: 64.8px;
    height: 64.8px;
  }

  .chatbot--image {
    width: 34.2px;
    height: 33.46px;
  }

  .chatbot__click-list--div {
    width: 170px;
    height: 60px;
    font-size: 14px;
  }
}
