/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 17px 1027px 16px 320px;
  background-color: #000000;
}

.footer h1 {
  color: #e5e5e5;
  font-size: 20px;
  font-weight: bold;
}

.footer p {
  color: #e5e5e5;
  font-size: 20px;
  font-weight: normal;
}
