/* header */

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 320px;
  background-color: #000000;
}

.header__menu-list-logo h1 {
  color: #e5e5e5;
  font-size: 20px;
  font-weight: bold;
}

.header__menu--list {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.header__menu--list a {
  color: #9c9c9c;
  font-size: 20px;
  font-weight: normal;
}

.header__menu--list a.active {
  color: #9a9cfc;
  font-size: 20px;
  font-weight: 600;
}

.header__menu--list a:hover {
  color: #e5e5e5;
  font-size: 20px;
  font-weight: 600;
}

.header__support--button {
  display: flex;
  width: 100%;
}

.header__support--button button {
  border-style: none;
  width: 100%;
  padding: 6.5px 0px;
  position: fixed;
  top: 60px;
  background-color: #6768ab;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
}
