.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 808px;
  height: 813px;
  padding-top: 157px;
}

.hidden {
  display: none;
}

.modal__content--div {
  width: 542px;
  height: 604px;
  margin: auto;
}

.modal__title--h1 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-align: center;
  padding-bottom: 80px;
}

.modal__date-box--div {
  width: 322px;
  height: 101px;
  margin: auto;
}

.modal__date--p {
  font-size: 20px;
  text-align: left;
  padding-bottom: 50px;
}

.modal__date--p strong {
  font-weight: 700;
}

.modal__warning-box--div {
  width: 530px;
  height: 101px;
  padding: 83px 0px 95px 0px;
}

.modal__warning--p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.modal__button-box--div {
  width: 542px;
  height: 71px;
}

.closeBtn {
  width: 251px;
  height: 71px;
  background-color: #e6e6e6;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.closeBtn-2 {
  width: 251px;
  height: 71px;
  background-color: #e6e6e6;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.button__apply--button {
  width: 251px;
  height: 71px;
  background-color: #7576b3;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  float: right;
}

.no__padding-top {
  width: 100%;
  /* height: 5182.98px; */
  padding-top: 0;
  background-color: #1b1a1e;
}

.banner {
  width: 100%;
  height: 814px;
  background-color: #fff;
}

.banner__box {
  width: 1280px;
  height: 814px;
  margin: auto;
  padding-top: 248px;
}

.banner__content {
  width: 100%;
  height: 370px;
}

.banner__title--p {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 18px;
}

.banner__text--p {
  font-size: 20px;
  font-weight: 700;
  line-height: 31px;
}

.banner__button--button {
  margin-top: 127px;
  border-style: none;
  background-color: #fff;
  text-decoration: underline;
  text-underline-position: under;
  color: #7576b3;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.schedule__box {
  width: 1280px;
  height: 401px;
  margin: auto;
  padding-top: 120px;
}

.schedule__content {
  width: 100%;
  height: 298px;
}

.schedule__title--p {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
}

.schedule__img {
  width: 1006.5px;
  height: 48px;
  background-image: url("../../assets/images/joinUs/calender\ image.png");
  margin: 101px 0px 0px 151.5px;
}

.schedule__text_1--p {
  font-size: 20px;
  color: #bebfff;
  text-align: center;
  width: 116px;
  height: 54px;
  margin: 28px 0px 0px 117px;
  float: left;
}

.schedule__text_2--p {
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 116px;
  float: left;
  height: 54px;
  margin: 28px 0px 0px 125px;
}

.schedule__text_3--p {
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 116px;
  float: left;
  height: 54px;
  margin: 28px 0px 0px 132px;
}

.schedule__text_4--p {
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 128px;
  float: left;
  height: 54px;
  margin: 28px 0px 0px 118px;
}

.schedule__text_5--p {
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 130px;
  float: left;
  height: 54px;
  margin: 28px 0px 0px 113px;
}

.target__box {
  width: 1280px;
  height: 529px;
  margin: auto;
  padding-top: 126px;
}

.target__content {
  width: 100%;
  height: 403px;
}

.target__title--p {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
}

.target-text-box {
  width: calc(100% / 3 - 10px);
  height: 252px;
  border-radius: 10px;
  background-color: #fff;
  margin: 76px 10px 0px 0px;
  float: left;
}

.target-text-box-purple {
  background-color: #7576b3;
}

.target-text-box-purple p {
  color: #fff;
}

.target__name--p {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin: 43px 0px 0px 53px;
  text-decoration: underline;
  text-underline-position: under;
}

.target__text--p {
  font-size: 20px;
  color: #000;
  margin: 38px 0px 0px 53px;
  line-height: 31px;
}
.field__box {
  width: 1280px;
  height: 1985px;
  margin: auto;
  padding-top: 175px;
}

.field__content {
  width: 100%;
  height: 1810px;
}

.field__title--p {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 111px;
}

.field-content-box {
  width: 100%;
  height: 296px;
  border-radius: 10px;
  margin-bottom: 38px;
  background-color: #000;
  padding: 23px 0px 0px 48px;
}

.field__number {
  width: 173px;
  height: 200px;
  float: left;
  margin-right: 32px;
}

.field__number--p {
  font-size: 150px;
  font-weight: 800;
  color: #e5e5e5;
}

.field__name {
  height: 40px;
  margin: 29px 0px 29px 43px;
}

.field__name--p {
  font-size: 30px;
  font-weight: 800;
  color: #e5e5e5;
}

.field__text {
  width: 1000px;
  height: 60px;
}

.fiels__text--p-1 {
  width: 1000px;
  height: 27px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.fiels__text--p-2 {
  width: 1000px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.field__tag {
  margin: 29px 0px 29px 175px;
}

.field-more__text--p {
  font-size: 14px;
  font-weight: 700;
  color: #e5e5e5;
  margin: 60px 50px 0px 0px;
  text-align: right;
  cursor: pointer;
}

.field__pm-tag-1 {
  font-size: 15px;
  color: #000;
  width: 95px;
  height: 41px;
  background-color: #bebfff;
  border-radius: 10px;
  float: left;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
}

.apply-way__box {
  width: 1280px;
  height: 588px;
  margin: auto;
  padding-top: 155px;
}

.apply-way__content {
  width: 100%;
  height: 452px;
}

.apply-way__title--p {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 70px;
}

.apply-way-box {
  width: 100%;
  height: 327px;
  border-radius: 10px;
  background-color: #000;
  padding: 72px 0px 0px 249px;
}

.apply-way__text--p {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 27px;
}

.banner-bottom-box {
  width: 100%;
  height: 543px;
  background-color: #bebfff;
  background-image: url("../../assets/images/joinUs/banner-background.png");
  background-position: right center;
  background-repeat: no-repeat;
  margin-top: 170px;
}

.banner-bottom-content {
  width: 1820px;
  margin: 0px 750px 0px 750px;
  padding: 192px 0px 0px 157.5px;
}

.banner-bottom-text-1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.banner-bottom-text-2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 21px;
}

.banner-bottom-text-3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 38px;
}

.banner__support--button {
  font-size: 20px;
  font-weight: 700;
  width: 220px;
  height: 49px;
  border-radius: 8px;
  background-color: #fff;
  border-style: none;
  cursor: pointer;
}

.space {
  width: 100px;
  height: 170px;
}

/* media query */

@media all and (min-width: 1024px) {
}

/* 테블릿 세로, 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
}

/* 모바일 가로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .banner {
    width: 100%;
    height: 221px;
  }

  .banner__box {
    width: 375px;
    height: 221px;
    margin: auto;
    padding: 30px 0px 73px 24px;
    background-color: #fff;
  }

  .banner__title--p {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    color: #000;
  }

  .banner__text--p {
    margin: 18px 0 17px;
    font-size: 10px;
    font-weight: 700;
    text-align: left;
    line-height: 14px;
    color: #000;
    padding-bottom: 17px;
  }

  .banner__button--button {
    margin: auto;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    color: #6768ab;
    text-decoration: underline;
    text-underline-position: under;
  }

  .schedule__box {
    width: 350px;
    height: 157px;
    margin: auto;
    padding-top: 38px;
  }

  .schedule__content {
    width: 100%;
    height: 119px;
  }

  .schedule__title--p {
    font-size: 26px;
    font-weight: 800;
    text-align: left;
    color: #e5e5e5;
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 42px;
  }

  .schedule__img {
    width: 304px;
    height: 15px;
    margin: auto;
    background-image: url("../../assets/images/joinUs/calender\ image.png");
    background-size: contain;
  }

  .schedule__text_1--p {
    width: 46px;
    height: 22px;
    margin: 17px 21px 61px 10px;
    font-size: 7px;
    line-height: 11px;
    text-align: center;
    color: #bebfff;
  }

  .schedule__text_2--p {
    width: 46px;
    height: 22px;
    margin: 17px 0px 61px 10px;
    font-size: 7px;
    line-height: 11px;
    text-align: center;
    color: #fff;
    float: left;
  }

  .schedule__text_3--p {
    width: 40px;
    margin: 17px 0px 61px 20px;
    font-size: 7px;
    line-height: 11px;
    text-align: center;
    color: #fff;
    float: left;
  }

  .schedule__text_4--p {
    width: 65px;
    margin: 17px 0px 61px 20px;
    font-size: 7px;
    line-height: 11px;
    text-align: center;
    color: #fff;
    float: left;
  }

  .schedule__text_5--p {
    width: 47px;
    margin: 17px 0px 61px 10px;
    font-size: 7px;
    line-height: 11px;
    text-align: center;
    color: #fff;
    float: left;
    white-space: nowrap;
  }

  .target__box {
    width: 350px;
    height: 100%;
    margin: auto;
    padding-top: 61px;
  }

  .target__content {
    width: 100%;
    height: 100%;
    margin-top: 34px;
  }

  .target__title--p {
    font-size: 26px;
    font-weight: 800;
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
  }

  .target__text {
    margin-top: 34px;
    width: 100%;
    height: 248px;
  }

  .target-text-box {
    width: 350px;
    height: 76px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 10px;
    float: left;
  }

  .target-text-box-purple {
    background-color: #7576b3;
  }

  .target__name--p {
    font-size: 15px;
    font-weight: 700;
    color: #000;
    margin: 11px 0px 0px 10px;
    text-decoration: underline;
    text-underline-position: under;
  }

  .target__text--p {
    font-size: 10px;
    color: #000;
    margin: 5px 0px 0px 10px;
    line-height: 11px;
  }

  .field__box {
    width: 350px;
    height: 487px;
    margin: auto;
    padding-top: 62px;
  }

  .field__content {
    width: 100%;
    height: 100%;
  }

  .field__title--p {
    font-size: 26px;
    font-weight: 800;
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 34px;
  }

  .field-content-box {
    width: 100%;
    height: 74px;
    border-radius: 10px;
    margin-bottom: 12px;
    background-color: #000;
    padding: 15px 0px 0px 9px;
  }

  .field__number {
    width: 46px;
    height: 53px;
    float: left;
    margin-right: 8px;
  }

  .field__number--p {
    font-size: 40px;
    font-weight: 800;
    color: #e5e5e5;
  }

  .field__name {
    height: 20px;
    margin: 8px 0px 0px 63px;
  }

  .field__name--p {
    font-size: 15px;
    font-weight: 800;
    color: #e5e5e5;
  }

  .field__text {
    width: 180px;
    height: 14px;
  }

  .fiels__text--p-1 {
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    margin-left: 63px;
  }

  .fiels__text--p-2 {
    display: none;
  }

  .field__tag {
    display: none;
  }

  .field-more__text--p {
    font-size: 10px;
    font-weight: 700;
    color: #e5e5e5;
    margin: 0px 10px 40px 0px;
    text-align: right;
    cursor: pointer;
  }

  .apply-way__box {
    width: 350px;
    height: 351px;
    margin: auto;
    margin-top: 0px;
    padding-top: 117px;
  }

  .apply-way__content {
    width: 100%;
    height: 289px;
  }

  .apply-way__title--p {
    font-size: 26px;
    font-weight: 800;
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 34px;
  }

  .apply-way-box {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    background-color: #000;
    padding: 34px 0px 0px 0px;
  }

  .apply-way__text {
    width: 261px;
    height: 152px;
    margin: auto;
  }

  .apply-way__text--p {
    width: 231px;
    font-size: 10px;
    font-weight: 700;
    color: white;
    margin-bottom: 17px;
    float: left;
    line-height: 15px;
  }

  .apply-circle {
    width: 10px;
    height: 10px;
    background-image: url("../../assets/images/joinUs/apply-way-icon.png");
    background-size: cover;
    float: left;
    margin-right: 10px;
  }

  .banner-bottom-box {
    width: 100%;
    height: 142px;
    background-color: #bebfff;
    background-image: url("../../assets/images/joinUs/banner-background.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 170px;
  }

  .banner-bottom-content {
    width: 1820px;
    margin: 40px 0px 0px 48px;
    padding: 40px 0px 0px 0px;
  }

  .banner-bottom-text-1 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .banner-bottom-text-2 {
    display: none;
  }

  .banner-bottom-text-3 {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 13px;
  }

  .banner__support--button {
    font-size: 10px;
    font-weight: 700;
    width: 110px;
    height: 25px;
    border-radius: 5px;
    background-color: #fff;
    border-style: none;
    cursor: pointer;
  }

  .space {
    width: 100px;
    height: 80px;
  }
}
