/* joinUsDetail */

section.web-banners,
section.field,
section.activity {
  padding-bottom: 146px;
}

.activity__title,
.type-of-talent__title,
.field__title {
  text-align: center;
  /* padding-top: 104px; */
  display: flex;
  padding-left: 319px;
  padding-right: 319px;
}

.activity__title h1,
.type-of-talent__title h1,
.field__title h1 {
  font-size: 50px;
  color: var(--text--hover-light-gray);
}

.activity__title h1,
.type-of-talent__title h1 {
  border-bottom: 3px solid var(--text--hover-light-gray);
  line-height: 1.5;
}

ul.activity__list,
ul.type-of-talent__list {
  font-size: 25px;
  padding-top: 73px;
  padding-left: 319px;
  padding-right: 319px;
  color: var(--text--hover-light-gray);
  list-style-type: circle;
}

ul.activity__list li,
ul.type-of-talent__list li {
  padding-bottom: 33px;
}

.web-banners__box {
  padding: 142px 0px 147px;
  background: linear-gradient(#1a2d34, #19214f);
  height: 1002px;
  margin-top: -184px;
}

.web-banners__button button {
  background-color: rgb(0, 0, 0, 0);
  color: var(--white);
  border-color: var(--white);
  width: 109px;
  height: 62px;
  font-size: 30px;
  margin: 81px 600px 39px 321px;
  cursor: pointer;
  float: left;
}

.web-banners__content {
  color: var(--white);
  /* text-align: center; */
  font-size: 30px;
  margin-left: 321px;
  float: left;
}

.web-banners__content span.blue {
  color: #4588fc;
}
.web-banners__content span.white {
  color: var(--white);
}

.web-banners__content p.title {
  font-weight: 600;
  font-size: 90px;
  margin-top: 36px;
}

.web-banners__content p.sub-title {
  font-size: 50px;
  margin-top: 11px;
}
