/* chatbot */

.chatbot {
  position: fixed;
  right: 108px;
  bottom: 80px;
}

.chatbot--button button {
  display: flex;
  width: 108px;
  height: 108px;
  justify-content: center;
  border-radius: 50%;
  border-style: none;
  background: linear-gradient(to right, #bbbcfc, #6f70b2);
  cursor: pointer;
  z-index: 1;
}

.chatbot__click {
  display: none;
}

.chatbot__click.active {
  display: block;
}

.chatbot__click-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chatbot__click-list--div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 60px;
  padding: 33px 0px;
  width: 251px;
  height: 92px;
  background-color: var(--white);
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
  border-radius: 86px;
}

.chatbot--image {
  margin-top: 10px;
}

section.Prj {
  padding-bottom: 146px;
}
.test {
  width: 1283px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.prj__title {
  text-align: center;
  display: flex;
  /* flex-wrap: nowrap; flex에서의 줄바꿈 방지*/
  /* padding-left: 319px;
  padding-right: 319px; */
  font-size: 50px;
  font-weight: bold;
  color: var(--text--hover-light-gray);
  border-bottom: 3px solid var(--text--hover-light-gray);
  line-height: 1.5;
}

.prj__title {
  font-size: 50px;
  font-weight: bold;
  color: var(--text--hover-light-gray);
  border-bottom: 3px solid var(--text--hover-light-gray);
  line-height: 1.5;
}
.prj__subTitle {
  text-align: center;
  display: flex;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 15px;
  margin-bottom: 100px;
  color: var(--text--hover-light-gray);
  line-height: 1.5;
}
.test_2 {
  width: 1283px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.prj1__title h1 {
  /* padding-top: 104px; */
  text-align: center;
  display: flex;
  /* padding-left: 319px;
  padding-right: 319px; */
  font-size: 50px;
  font-weight: bold;
  color: var(--text--hover-light-gray);
  border-bottom: 3px solid var(--text--hover-light-gray);
  line-height: 1.5;
}

.prj1__subTitle {
  text-align: center;
  display: flex;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 15px;

  color: var(--text--hover-light-gray);
  line-height: 1.5;
}

/* 슬라이드 */

img {
  max-width: 100%;
  height: auto;
}
.slider {
  width: 1280px;
  height: 410px;
  margin: 15px auto;
}
.slider .slick-slide {
  margin: 15px;
}
.slick-prev:before,
.slick-next:before {
  color: #444444;
}
.slick-prev.slick-arrow {
  top: 43%;
}
.slick-next.slick-arrow {
  top: 43%;
}

/*.wrapper__center {
  display: flex;
}*/

.wrapper {
  display: grid;
  margin-top: 114px;
  margin-left: 16.61%;
  margin-right: 16.61%;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 345px;
  column-gap: 35px;
  /* grid-template-columns: repeat(auto-fill, minmax(400px,1fr));                  /* 반응형 */
  /* grid-gap: 35px;        /* 그리드 사이 간격 (가로) */
}

.comp_picture {
  margin: auto;
  margin-top: -6px;
}

.comp_text {
  color: black;
  text-align: center;
  font-size: 20px;
  line-height: 41px;
  font-weight: bold;
  padding-top: 20px;
}

.comp_text2 {
  color: black;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  padding-top: 14px;
}

.item:nth-child(1) {
  background-color: white;
  text-align: center;
}
.item:nth-child(2) {
  background-color: white;
  text-align: center;
}
.item:nth-child(3) {
  background-color: white;
  text-align: center;
}

.grid {
  display: grid;
  column-gap: 35px;
  row-gap: 35px;
  margin-left: 16.61%;
  margin-right: 16.61%;
  margin-top: 106px;
  margin-bottom: 200px;
  grid-template-columns: 290px 290px 290px 290px;
  grid-template-rows: 290px 290px 290px;
  column-gap: 35px; /* 컬럼 간격 */
  /* grid-template-columns: repeat(auto-fill, minmax(290px,3fr));                  /* 반응형 */
  /* grid-gap: 35px;        /* 그리드 사이 간격 (가로) */
}

.g_item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: black;
  cursor: pointer;
  position: relative;
}

.g_item:nth-child(1) > .picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.g_item:nth-child(2) > .picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.g_item:nth-child(3) > .picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.g_item:nth-child(4) > .picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.g_item:nth-child(5) > .picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.g_item:nth-child(6) > .picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.g_item:nth-child(7) > .picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.textBox {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.7rem;
}

.g_item:nth-child(1):hover .picture {
  opacity: 0;
}

.g_item:nth-child(1):hover .textBox {
  opacity: 1;
}

/*.g_item:nth-child(1):hover {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(0, 0, 0);
}*/

.g_item:nth-child(2) {
  background-color: black;
  cursor: pointer;
  position: relative;
}

.g_item:nth-child(2):hover .picture {
  opacity: 0;
}

.g_item:nth-child(2):hover .textBox {
  opacity: 1;
}

.g_item:nth-child(3) {
  background-color: black;
  cursor: pointer;
  position: relative;
}

.g_item:nth-child(3):hover .picture {
  opacity: 0;
}

.g_item:nth-child(3):hover .textBox {
  opacity: 1;
}
.g_item:nth-child(4) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: black;
  cursor: pointer;
  position: relative;
}

.g_item:nth-child(4):hover .picture {
  opacity: 0;
}

.g_item:nth-child(4):hover .textBox {
  opacity: 1;
}

.g_item:nth-child(5) {
  background-color: black;
  cursor: pointer;
  position: relative;
}

.g_item:nth-child(5):hover .picture {
  opacity: 0;
}

.g_item:nth-child(5):hover .textBox {
  opacity: 1;
}

.g_item:nth-child(6) {
  background-color: black;
  cursor: pointer;
  position: relative;
}

.g_item:nth-child(6):hover .picture {
  opacity: 0;
}

.g_item:nth-child(6):hover .textBox {
  opacity: 1;
}

.g_item:nth-child(7) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: black;
  cursor: pointer;
  position: relative;
}

.g_item:nth-child(7):hover .picture {
  opacity: 0;
}

.g_item:nth-child(7):hover .textBox {
  opacity: 1;
}
.g_item:nth-child(8) {
  background-color: black;
  cursor: pointer;
  position: relative;
}

.g_item:nth-child(8):hover .picture {
  opacity: 0;
}

.g_item:nth-child(8):hover .textBox {
  opacity: 1;
}

/* media query */

@media all and (min-width: 1024px) {
}

/* 테블릿 세로, 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (max-width: 479px) {
  /*.main_color {
    background-color: var(--light-black);
  }*/
  /*.main {
    /*width: 87.6%;
    margin: auto;
  } */

  section.Prj {
    padding-bottom: 80px;
  }
  .prj__title {
    font-size: 26px;
  }
  .circle {
    display: none;
  }
  .prj__subTitle {
    margin-bottom: 35px;
    font-size: 12px;
    padding-top: 0px;
  }
}
