/* count */

/* .count {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.count__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 0px auto 56px;
}

.count__title h1,
.about__title h1 {
  font-size: 90px;
  text-align: center;
  margin-bottom: 16px;
}

.count__title p,
.about__title p {
  font-size: 30px;
}

.count__text {
  text-align: center;
}

.count__text p {
  color: var(--text--hover-light-gray);
  font-size: 30px;
}

.count__timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 28px auto 0;
  width: 70%;
  height: 17.5vh;
}

.count__timer--p-black {
  background-color: var(--white);
  font-size: 90px;
  color: var(--black);
  width: 10.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count__timer--p-light-gray {
  font-size: 90px;
  color: var(--text--hover-light-gray);
  margin-bottom: 20px;
}

.count__name {
  width: 70%;
  height: 4.1vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count__name span {
  color: var(--text--hover-light-gray);
  width: 22.2%;
  text-align: center;
  font-size: 30px;
}

.count__support--button {
  text-align: center;
  margin-top: 61.8px;
}

.count__support--button button {
  background-color: transparent;
  color: var(--text--hover-light-gray);
  font-size: 30px;
  border-style: none;
  border-bottom: 3px solid var(--text--hover-light-gray);
  cursor: pointer;
  margin-bottom: 188.5px;
}

/* about */

.about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 0px auto 145px;
}

.about__gallery {
  /* width: 5697px; */
  width: 300%;
  display: flex;
  justify-content: space-evenly;
  transition: transform 0.5s;
}

.about__gallery--image {
  width: 10.69%;
}

.about__gallery--image div {
  /* float: left; */
  width: 100%;
  height: 44.2vh;
  background-color: var(--white);
  margin: auto;
}

.about__bullet {
  display: flex;
  width: 4%;
  height: 9.25vh;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.about__bullet-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #3d3d3d;
}

.about__bullet-dot.active {
  background-color: var(--text--hover-light-gray);
}

.about__sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 0px auto 87px;
}

.about__sub-title h1 {
  font-size: 61px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6px;
  border-bottom: 3px solid var(--text--hover-light-gray);
}

.about__sub-title p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.about__sub-text p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 41px;
  color: var(--text--hover-light-gray);
  margin-bottom: 133px;
}

.about__what {
  margin-bottom: 23.33vh;
}

.about__what-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 0px auto 58px;
}

.about__what-title h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  border-bottom: 3px solid var(--text--hover-light-gray);
  margin-bottom: 6px;
}

.about__what-title p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 7px;
}

.about__what-active {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 67.8%;
  height: 52.6vh;
  margin: 0px auto;
}

.about__what-active--div {
  width: 400px;
  height: 44.14%;
  margin: 15px auto;
}

/* .about__what-active--div:nth-child(4) {
  margin: 25px 60px 227px 202px;
}

.about__what-active--div:nth-child(5) {
  margin: 25px 201px 227px 0px;
} */

.about__what-active--white-div.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 10px;
  transition: 0.5s;
}

.about__what-active--white-div {
  display: none;
}

.about__what-active--white-div h1 {
  font-size: 30px;
  font-weight: 600;
  color: var(--black);
}

.about__what-active--white-div p {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

.about__what-active--black {
  display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto;
}

.about__what-active--black-div.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  border-radius: 10px;
  line-height: 27px;
  transition: 0.5s;
}

/* .about__what-active--div.active:hover {
  animation: hover 5s;
} */

.about__what-active--black-div {
  display: none;
}

.about__what-active--black-div p {
  font-size: 20px;
  color: var(--white);
}

.about__promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 596px; */
  background-color: var(--black);
}

.about__promotion-content {
  display: flex;
  flex-direction: column;
  color: var(--white);
  margin: 12.64vh auto;
}

.about__promotion-content h1 {
  font-size: 50px;
  font-weight: 600;
  width: 33.67%;
  margin-bottom: 27px;
}

.about__promotion-content h1:nth-child(2) {
  background-color: var(--white);
  color: var(--black);
  margin-bottom: 41px;
}

.about__promotion-content p {
  font-size: 30px;
  font-weight: 600;
  line-height: 59px;
  /* white-space: nowrap; */
}

/* award */
.award__title {
  text-align: center;
  padding-top: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.award__title h1 {
  font-size: 50px;
  font-weight: 600;
  color: var(--text--hover-light-gray);
  border-bottom: 3px solid var(--text--hover-light-gray);
}

.award__title p {
  letter-spacing: 35px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text--hover-light-gray);
  text-align: center;
  margin: 10px -35px 0px 0px;
}

.award__scroll {
  width: 66.48%;
  height: 46.66vh;
  overflow-y: auto;
  margin: 80px auto 0px;
  background-color: white;
  padding: 60px 0px;
  border-radius: 10px;
}

.award__scroll::-webkit-scrollbar {
  width: 16px;
}

.award__scroll::-webkit-scrollbar-thumb {
  background-color: #6768ab;
  border-radius: 37px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.award__scroll::-webkit-scrollbar-track {
  background-color: #cccccc;
  border-radius: 37px;
  box-shadow: inset 0px 0px 3px white;
}

/* 스크롤 안타내는거
.award__scroll::-webkit-scrollbar {
  display: none;
} */

.award__scroll-content {
  color: var(--black);
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 46.66vh;
}

.award__scroll-content--div {
  display: flex;
  align-items: center;
  width: 92%;
  margin: 0 auto;
}

.award__scroll-content--div img {
  width: 2.61%;
  height: 100%;
  margin-right: 10px;
}

/* member */
.member__title {
  text-align: center;
  padding-top: 146px;
  display: flex;
  justify-content: center;
}
.member__title h1 {
  font-size: 50px;
  font-weight: 600;
  color: var(--text--hover-light-gray);
  border-bottom: 3px solid var(--text--hover-light-gray);
}

.member__subtitle {
  padding-top: 5px;
  padding-left: 16px;
  display: flex;
  justify-content: center;
}
.member__subtitle p {
  letter-spacing: 14px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text--hover-light-gray);
}

.member__button {
  margin: 127px auto 0px;
  width: 67.26%;
}

.member__button span {
  font-size: 20px;
  color: var(--text--hover-light-gray);
}

.member__button button {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  cursor: pointer;
}

.member__card--total {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-evenly;
}

.member__card-column {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px auto;
  width: 67.26%;
}

.member__card {
  width: 401px;
  height: 514px;
  border-radius: 10px;
  background-color: var(--white);
  margin-top: 35px;
}

.member__card--image {
  width: 386px;
  height: 344px;
  border-radius: 10px;
  background-color: black;
  margin: 6px 7px 0px;
}

.member__card--content {
  margin-left: 29px;
  margin-top: 11px;
  font-size: 20px;
  font-weight: 400;
}
.member__card--content p:nth-child(2) {
  margin-top: 10px;
}
.member__card--content p:nth-child(3) {
  margin-top: 10px;
}

.member__card--skills {
  margin-left: 29px;
  margin-top: 25px;
}

.member__card--skills span {
  background-color: #7172d1;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  color: var(--white);
  padding: 6px 24px;
}

/* support */
.support__box {
  height: 65.47vh;
  width: 67.37%;
  border-radius: 9px;
  margin: 223px auto 0px;
  padding: 10.5vh 0px;
  background-color: var(--black);
}

.support__content {
  color: var(--white);
  text-align: center;
  font-size: 30px;
}

.support__content p {
  font-weight: 600;
}

.support__content p:nth-child(2) {
  padding-top: 41px;
  line-height: 45px;
  font-weight: 400;
}

.support__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7.2vh;
}

.support__button button {
  background-color: #7172d1;
  /* width: 21.53%; */
  height: 100%;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  color: var(--white);
  padding: 18px;
  cursor: pointer;
}
