/* count */

/* .count {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.count__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 0px auto 56px;
}

.count__title h1,
.about__title h1 {
  font-size: 90px;

  text-align: center;
  margin-bottom: 16px;
}

.count__title p,
.about__title p {
  font-size: 30px;
}

.count__text {
  text-align: center;
}

.count__text p {
  color: var(--text--hover-light-gray);
  font-size: 30px;
}

.count__timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 28px auto 0;
  width: 70%;
  height: 17.5vh;
}

.count__timer--p-black {
  background-color: var(--white);
  font-size: 90px;
  color: var(--black);
  width: 10.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.count__timer--p-light-gray {
  font-size: 90px;
  color: var(--text--hover-light-gray);
  margin-bottom: 20px;
}

.count__name {
  width: 70%;
  height: 4.1vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count__name span {
  color: var(--text--hover-light-gray);
  width: 22.2%;
  text-align: center;
  font-size: 30px;
}

.count__support--button {
  text-align: center;
  margin-top: 61.8px;
}

.count__support--button button {
  background-color: transparent;
  color: var(--text--hover-light-gray);
  font-size: 30px;
  font-weight: 700;
  border-style: none;
  border-bottom: 3px solid var(--text--hover-light-gray);
  cursor: pointer;
  margin-bottom: 188.5px;
}

/* about */

.about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 0px auto 145px;
}

.about__gallery {
  /* width: 5697px; */
  /* width: 300%; */
  width: calc(3170 / 1903 * 100%);
  display: flex;
  justify-content: space-around;
  transition: transform 0.5s;
}

.about__gallery--image img {
  width: 600px;
  height: 44.2vh;
  /* margin: 0 17px; */
  /* background-color: white; */
}

/* .about__gallery--image.active {
  width: 10.51%;
  height: 44.2vh;
  margin: 0 17px;
  background-color: white;
  display: block;
} */

.about__gallery--image div {
  /* width: ; */
  /* width: 100%;
  height: 44.2vh;
  background-color: var(--white);
  background-color: yellow;

  margin: auto; */
}

.about__bullet {
  display: flex;
  width: 4%;
  height: 9.25vh;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.about__bullet-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #3d3d3d;
}

.about__bullet-dot.active {
  background-color: var(--text--hover-light-gray);
}

.about__sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 0px auto 87px;
}

.about__sub-title h1 {
  font-size: 61px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6px;
  border-bottom: 3px solid var(--text--hover-light-gray);
}

.about__sub-title p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.about__sub-text p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 41px;
  color: var(--text--hover-light-gray);
  margin-bottom: 133px;
}

.about__what {
  margin-bottom: 23.33vh;
}

.about__what-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 0px auto 58px;
}

.about__what-title h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  border-bottom: 3px solid var(--text--hover-light-gray);
  margin-bottom: 6px;
}

.about__what-title p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 7px;
}

.about__what-active {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 67.8%;
  /* height: 52.6vh; */
  margin: 0px auto;
}

.about__what-active--div {
  width: 400px;
  height: 225px;
  /* height: 44.14%; */
  margin: 15px auto;
}

/* .about__what-active--div:nth-child(4) {
  margin: 25px 60px 227px 202px;
}

.about__what-active--div:nth-child(5) {
  margin: 25px 201px 227px 0px;
} */

.about__what-active--white-div.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 10px;
  transition: 0.5s;
}

.about__what-active--white-div {
  display: none;
}

.about__what-active--white-div h1 {
  font-size: 30px;
  font-weight: 600;
  color: var(--black);
}

.about__what-active--white-div p {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
  text-align: center;
}

.about__what-active--black {
  display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto;
}

.about__what-active--black-div.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  border-radius: 10px;
  line-height: 27px;
  transition: 0.5s;
}

/* .about__what-active--div.active:hover {
  animation: hover 5s;
} */

.about__what-active--black-div {
  display: none;
}

.about__what-active--black-div p {
  font-size: 20px;
  color: var(--white);
}

.about__promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 596px; */
  background-color: var(--black);
}

.about__promotion-content {
  display: flex;
  flex-direction: column;
  width: calc(1280 / 1903 * 100%);
  color: var(--white);
  margin: 12.64vh auto;
}

.about__promotion-content h1 {
  font-size: 50px;
  font-weight: 600;
  width: 430px;
  margin-bottom: 27px;
}

.about__promotion-content h1:nth-child(2) {
  background-color: var(--white);
  color: var(--black);
  margin-bottom: 41px;
}

.about__promotion-content p {
  font-size: 30px;
  font-weight: 600;
  line-height: 59px;
  /* white-space: nowrap; */
}

/* award */
.award__title {
  text-align: center;
  padding-top: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.award__title h1 {
  font-size: 50px;
  font-weight: 600;
  color: var(--text--hover-light-gray);
  border-bottom: 3px solid var(--text--hover-light-gray);
}

.award__title p {
  letter-spacing: 35px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text--hover-light-gray);
  text-align: center;
  margin: 10px -35px 0px 0px;
}

.award__scroll {
  width: 66.48%;
  height: 46.66vh;
  overflow-y: auto;
  margin: 80px auto 0px;
  background-color: white;
  padding: 60px 0px;
  border-radius: 10px;
}

.award__scroll::-webkit-scrollbar {
  width: 16px;
}

.award__scroll::-webkit-scrollbar-thumb {
  background-color: #6768ab;
  border-radius: 37px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.award__scroll::-webkit-scrollbar-track {
  background-color: #cccccc;
  border-radius: 37px;
  box-shadow: inset 0px 0px 3px white;
}

/* 스크롤 안타내는거
.award__scroll::-webkit-scrollbar {
  display: none;
} */

.award__scroll-content {
  color: var(--black);
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* height: 46.66vh; */
}

.award__scroll-content--div {
  display: flex;
  align-items: center;
  width: 92%;
  margin: 0 auto 20px;
}

.award__scroll-content--div img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.award__scroll-content--p {
  display: flex;
}

.award__scroll-content--div p {
  margin-right: 10px;
}

/* member */
.member__title {
  text-align: center;
  padding-top: 146px;
  display: flex;
  justify-content: center;
}
.member__title h1 {
  font-size: 50px;
  font-weight: 600;
  color: var(--text--hover-light-gray);
  border-bottom: 3px solid var(--text--hover-light-gray);
}

.member__subtitle {
  padding-top: 5px;
  padding-left: 16px;
  display: flex;
  justify-content: center;
}
.member__subtitle p {
  letter-spacing: 14px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text--hover-light-gray);
}

.member__button {
  margin: 127px auto 0px;
  width: 67.26%;
}

.member__button span {
  color: var(--text--hover-light-gray);
  font-size: 20px;
}

.member__button button {
  background-color: transparent;
  border: 0;
  font-size: 20px;

  font-weight: 400;
  color: var(--white);
  cursor: pointer;
}

.member__card--total {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-evenly;
}

.member__card-column--div {
  display: none;
}

.member__card-column--div.active {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px auto;
  width: 67.26%;
}

.member__card {
  width: 401px;
  height: 514px;
  border-radius: 10px;
  background-color: var(--white);
  margin-top: 35px;
}

.member__card--image img {
  width: 386px;
  height: 344px;
  border-radius: 10px;
  background-color: black;
  margin: 6px 7px 0px;
}

.member__card--content {
  margin-left: 29px;
  margin-top: 11px;
  font-size: 20px;
  font-weight: 400;
}
.member__card--content p:nth-child(2) {
  margin-top: 10px;
}
.member__card--content p:nth-child(3) {
  margin-top: 10px;
}

.member__card--skills {
  margin-left: 29px;
  margin-top: 25px;
}

.member__card--skills span {
  background-color: #7172d1;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  color: var(--white);
  padding: 6px 24px;
}

/* support */
.support__box {
  /* height: 65.47vh; */
  width: 67.37%;
  border-radius: 9px;
  margin: 223px auto 0px;
  padding: 10.5vh 0px;
  background-color: var(--black);
}

.support__content {
  color: var(--white);
  text-align: center;
  font-size: 30px;
}

.support__content p {
  font-weight: 600;
}

.support__content p:nth-child(2) {
  padding-top: 41px;
  line-height: 45px;
  font-weight: 400;
}

.support__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7.2vh;
}

.support__button button {
  background-color: #7172d1;
  width: 300px;
  height: 100%;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  color: var(--white);
  padding: 18px;
  cursor: pointer;
}

/* media query */

@media all and (min-width: 1024px) {
}

/* 테블릿 세로, 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 80px 0;
  }

  .circle {
    display: none;
  }

  .count__title {
    margin-bottom: 60px;
  }

  .count__title h1,
  .about__title h1 {
    font-size: 50px;
    font-weight: 700;
  }

  .count__title p,
  .about__title p {
    font-size: 20px;
  }

  .count__text p {
    font-weight: 700;
  }

  .count__timer {
    width: 90%;
    height: 11vh;
    margin-top: 30px;
  }

  .count__timer--p-black {
    font-size: 60px;
  }

  .count__name {
    width: 90%;
  }

  .count__support--button {
    margin-top: 60px;
  }

  .count__support--button button {
    margin-bottom: 80px;
  }

  .about__title {
    margin-bottom: 80px;
  }

  .about__gallery {
    width: 500%;
  }

  .about__gallery--image img {
    width: 600px;
    height: 400px;
  }

  .about__bullet {
    width: 8%;
  }

  .about__sub-title {
    margin: 40px 0;
  }

  .about__sub-title h1,
  .about__what-title h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .about__sub-title p {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .about__sub-text p {
    width: 70%;
    margin: 0 auto 80px;
  }

  .about__what {
    margin-bottom: 80px;
  }

  .about__what-title {
    margin-bottom: 60px;
  }

  .about__what-title p {
    font-size: 14px;
  }

  .about__what-active {
    width: 100%;
  }

  .about__promotion-content {
    margin: 80px auto;
  }

  .about__promotion-content p {
    font-size: 20px;
    line-height: 40px;
  }

  .award__title {
    padding-top: 80px;
  }

  .award__title h1 {
    font-size: 40px;
  }

  .award__title p {
    font-size: 14px;
    letter-spacing: 30px;
  }

  .award__scroll {
    width: 90%;
    padding: 40px 0;
    margin-top: 60px;
  }

  .award__scroll-content--p {
    flex-direction: column;
    font-size: 20px;
  }
  /* .about__gallery--image {
    height: 215px;
  } */

  .member__title {
    padding-top: 80px;
  }

  .member__subtitle {
    padding-top: 10px;
  }

  .member__subtitle p {
    font-size: 14px;
  }

  .member__button {
    font-size: 30px;
    margin-top: 40px;
    width: 50%;
    min-width: 360px;
  }

  .member__button button {
    font-size: 22px;
    padding: 0;
  }

  .member__card-column {
    width: 100%;
    /* flex-wrap: nowrap; */
  }

  .member__card {
    width: 310px;
    height: 400px;
  }

  .member__card--image {
    width: 95%;
    height: calc(250 / 400 * 100%);
    margin: 6px auto 0;
  }

  .member__card--content {
    margin-left: 10px;
  }

  .support__box {
    margin: 80px auto 0px;
    width: 100%;
  }

  .support__content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .support__content p {
    font-size: 30px;
  }

  .support__content p:last-child {
    font-size: 20px;
  }

  .support__button {
    margin-top: 40px;
  }
}

/* 모바일 가로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .main {
    padding: 80px 0;
  }

  .circle {
    display: none;
  }

  .count__title {
    margin-bottom: 60px;
  }

  .count__title h1,
  .about__title h1 {
    font-size: 50px;
    font-weight: 700;
  }

  .count__title p,
  .about__title p {
    font-size: 20px;
  }

  .count__text p {
    font-weight: 700;
  }

  .count__timer {
    width: 90%;
    height: 11vh;
    margin-top: 30px;
  }

  .count__timer--p-black {
    font-size: 60px;
  }

  .count__name {
    width: 90%;
  }

  .count__support--button {
    margin-top: 60px;
  }

  .count__support--button button {
    margin-bottom: 80px;
  }

  .about__title {
    margin-bottom: 80px;
  }

  .about__gallery {
    width: 500%;
  }

  .about__gallery--image img {
    width: 600px;
    height: 400px;
  }

  .about__bullet {
    width: 8%;
    margin-bottom: 10px;
  }

  .about__sub-title {
    margin: 40px 0;
  }

  .about__sub-title h1,
  .about__what-title h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .about__sub-title p {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .about__sub-text p {
    width: 67%;
    margin: 0 auto 80px;
  }

  .about__what {
    margin-bottom: 80px;
  }

  .about__what-title {
    margin-bottom: 40px;
  }

  .about__what-title p {
    font-size: 14px;
  }

  .about__promotion-content {
    margin: 80px auto;
  }

  .about__promotion-content h1 {
    font-size: 40px;
    width: 340px;
  }

  .about__promotion-content p {
    font-size: 20px;
    line-height: 40px;
  }

  .award__title {
    padding-top: 80px;
  }

  .award__title h1,
  .member__title h1 {
    font-size: 40px;
  }

  .award__title p {
    font-size: 14px;
    letter-spacing: 30px;
  }

  .award__scroll {
    width: 90%;
    padding: 40px 0;
    margin-top: 40px;
  }

  .award__scroll-content--p {
    flex-direction: column;
    font-size: 16px;
  }

  .member__title {
    padding-top: 80px;
  }

  .member__subtitle {
    padding-top: 10px;
  }

  .member__subtitle p {
    font-size: 14px;
  }

  .member__button {
    font-size: 30px;
    margin-top: 40px;
    width: 50%;
    min-width: 360px;
  }

  .member__button button {
    font-size: 22px;
    padding: 0;
  }

  .member__card-column {
    width: 100%;
    /* flex-wrap: nowrap; */
  }

  .member__card {
    width: 310px;
    height: 400px;
  }

  .member__card--image {
    width: 95%;
    height: calc(250 / 400 * 100%);
    margin: 6px auto 0;
  }

  .member__card--content {
    margin-left: 10px;
  }

  .support__box {
    margin: 80px auto 0px;
    width: 100%;
  }

  .support__content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .support__content p {
    font-size: 30px;
  }

  .support__content p:last-child {
    font-size: 20px;
  }

  .support__button {
    margin-top: 40px;
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .main {
    padding: 40px 0;
  }

  .circle {
    display: none;
  }

  .count__title {
    margin-bottom: 40px;
  }

  .count__title h1,
  .about__title h1 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .count__title p,
  .about__title p {
    font-size: 14px;
  }

  .count__text p {
    font-weight: 700;
    font-size: 18px;
  }

  .count__timer {
    width: 90%;
    height: 8vh;
    margin-top: 10px;
  }

  .count__timer--p-black {
    font-size: 40px;
    width: 10%;
  }

  .count__timer--p-light-gray {
    font-size: 60px;
  }

  .count__name {
    width: 90%;
  }

  .count__name span {
    font-size: 14px;
  }

  .count__support--button {
    margin-top: 40px;
  }

  .count__support--button button {
    margin-bottom: 80px;
  }

  .about__title {
    margin-bottom: 40px;
  }

  .about__gallery {
    width: 900%;
  }

  .about__gallery--image img {
    width: 220px;
    height: 160px;
    margin: 0 auto;
  }

  .about__bullet {
    width: 16%;
  }

  .about__sub-title {
    margin-bottom: 40px;
  }

  .about__sub-title h1,
  .about__what-title h1,
  .award__title h1,
  .member__title h1 {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .about__sub-title p {
    font-size: 12px;
    letter-spacing: 0px;
  }

  .about__sub-text p {
    width: 80%;
    font-size: 12px;
    line-height: 22px;
    margin: 0 auto 80px;
  }

  .about__what {
    margin-bottom: 80px;
  }

  .about__what-title {
    margin-bottom: 40px;
  }

  .about__what-title p {
    font-size: 12px;
    letter-spacing: 6px;
  }

  .about__what-active--div {
    height: 120px;
  }

  .about__what-active--div h1 {
    font-size: 20px;
  }

  .about__what-active--div p {
    font-size: 16px;
  }

  .about__promotion-content {
    margin: 80px auto;
  }

  .about__promotion-content h1 {
    font-size: 28px;
    width: 240px;
  }

  .about__promotion-content p {
    font-size: 16px;
    line-height: 30px;
  }

  .award__title p {
    font-size: 12px;
    letter-spacing: 25px;
    margin: 0 0 0 24px;
  }

  .award__scroll {
    width: 90%;
    padding: 40px 0;
    margin-top: 40px;
  }

  .award__scroll-content--p {
    flex-direction: column;
    font-size: 14px;
  }

  .member__title {
    padding-top: 80px;
  }

  .member__subtitle {
    padding-top: 0px;
  }

  .member__subtitle p {
    font-size: 12px;
    letter-spacing: 12px;
  }

  .member__button {
    font-size: 16px;
    margin-top: 40px;
    /* margin-bottom: -20px; */
    width: 50%;
    min-width: 260px;
  }

  .member__button button {
    font-size: 16px;
    padding: 0;
  }

  .member__card-column {
    width: 100%;
    max-width: 330px;
  }

  .member__card {
    width: 100%;
    height: 380px;
  }

  .member__card--image {
    width: 95%;
    height: 260px;
    margin: 6px auto 0px;
  }
  .member__card--content {
    margin-left: 10px;
  }

  .member__card--content p {
    font-size: 12px;
  }

  .member__card--skills {
    margin: 14px auto;
    width: 70%;
  }

  .member__card--skills span {
    font-size: 12px;
  }

  .support__box {
    margin: 40px auto 0px;
    width: 100%;
  }

  .support__content {
    width: 100%;
    /* max-width: 600px; */
    margin: 0 auto;
  }

  .support__content p {
    font-size: 18px;
  }

  .support__content p:last-child {
    font-size: 12px;
  }

  .support__button {
    margin-top: 40px;
  }

  .support__button button {
    width: 200px;
    font-size: 20px;
  }
}
