/* Question*/

section.QnA {
  padding-bottom: 146px;
}

.qna__title,
.contact__title {
  text-align: center;
  /* padding-top: 104px; */
  display: flex;
  padding-left: 16.61%;
  padding-right: 16.61%;
}

.qna__title h1,
.contact__title h1 {
  font-size: 50px;
  color: var(--text--hover-light-gray);
  border-bottom: 3px solid var(--text--hover-light-gray);
  line-height: 1.5;
}

.qna__subTitle,
.contact__subTitle {
  font-size: 19px;
  padding-top: 15px;
  padding-left: 16.61%;
  padding-right: 16.61%;
  color: var(--text--hover-light-gray);
  line-height: 1.5;
}

ul.list {
  list-style: none;
}
.accordion-box {
  width: 100%;
  max-width: 70%;
  margin-left: 16.61%;
  margin-right: 16.61%;
  padding-top: 42px;
  cursor: pointer;
}

.question,
.kakao {
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 20px;
  background-color: var(--white);
  color: var(--black);
  box-sizing: border-box;
  margin-top: 33px;
  padding: 0 10px;
  border-radius: 20px;
  vertical-align: middle;
  padding: 23px;
  z-index: 1;
  position: relative;
}

span.question__qna-icon,
span.kakao__icon {
  margin-left: 49px;
  font-size: 30px;
}

span.kakao__icon {
  background: url("/src/assets/images/question/kakao-icon.png") 0 0 no-repeat;
  background-size: 30px;
  background-position-y: bottom;
}

span.question__text,
span.kakao__text {
  font-size: 20px;
  padding: 23px;
}

.question__hover-icon {
  position: absolute;
  top: 45%;
  right: 35px;
}

.con {
  width: 100%;
  padding: 49px;
  display: none;
  background-color: var(--white);
  color: var(--black);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -20px;
}

p.con__text {
  background-color: var(--light-black);
  color: var(--white);
  padding-left: 129px;
  padding-right: 129px;
  padding-top: 39px;
  padding-bottom: 39px;
  line-height: 1.5;
  font-size: 20px;
}

.empty {
  padding-top: 180px;
}
