/* @import url("http://fonts.cdnfonts.com/css/segoe-ui-4"); */
@import "./reset.css";
@import "./variable.css";

/* Components */
@import "./Components/header.css";
@import "./Components/footer.css";
/* Screens */

/* main */
.main {
  width: 100%;
  background-color: var(--light-black);
  margin-top: 100px;
  padding-top: 184px;
}

/* count */
/* .count {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.count__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  color: var(--text--hover-light-gray);
  margin: 0px 544px 56px;
}

.count__title h1 {
  font-size: 90px;
  text-align: center;
  margin-bottom: 16px;
}

.count__title p {
  font-size: 30px;
}

.count__text {
  text-align: center;
}

.count__text p {
  color: var(--text--hover-light-gray);
  font-size: 30px;
}

.count__timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text--hover-light-gray);
  margin: 28px 430px 0;
}

.count__timer--p-black {
  background-color: var(--white);
  font-size: 90px;
  color: var(--black);
  padding: 35px 46px 44px;
}

.count__timer--p-light-gray {
  font-size: 90px;
  color: var(--text--hover-light-gray);
  margin-bottom: 20px;
}

.count__button {
  text-align: center;
  margin-top: 61.8px;
}

.count__button button {
  background-color: var(--light-black);
  color: var(--text--hover-light-gray);
  font-size: 30px;
  border-style: none;
  border-bottom: 3px solid var(--text--hover-light-gray);
}
